
/* Header & Nav */
header {
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  opacity: 0.9;
}

.logo img {
  padding-left: 10px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  display: inline-block;
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

/* Body */
body {
  margin: 0;
  background-color: black;
  opacity: 0.9;
}

/* Mission */
#mission {
  margin: auto;
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

h2 {
  display: block;
  font-size: 2.25em;
  color: seashell;
  font-family: Helvetica;
  font-weight: bold;
  background-color: black;
  width: 1200px;
  height:48px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

h4 {
  display: block;
  font-size: 22px;
  color: seashell;
  font-family: Helvetica;
  font-weight: bold;
  background-color: black;
  width: 1200px;
  height:35px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* Flex Containers */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
